<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A First App</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <div>PRODUCT</div>
      <div>
        <div>
          <input
            type="text"
            placeholder="Özellik..."
            v-model="enteredValue"
          /><button @click="ozellikEkle">+</button>
        </div>
        <div>
          <ul>
            <li v-for="(ozellik, index) in ozellikler">
              {{ozellik}}<input
                type="checkbox"
                v-if="index != 0 && ozellikler.length != 0"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
